@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "chicago_makers";
  src: url("/assets/fonts/ChicagoMakers.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "chicago_makers", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: #C06C84;
}

.bg-secondary {
  background-color: #1f2937;
}

.text-c06c84 {
  color: #C06C84;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.activeLink {
  color: #C06C84;
}

.activeNav .activeLink {
  color: #fff;
}
